@import "tailwindcss";

@font-face {
  font-family: "header";
  src: url('/src/assets//fonts/noto-serif.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "body";
  src: url('/src/assets/fonts/noto-sans.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@theme inline {
  --font-header: "header";
  --font-body: "body";
  
  /* COLOR */
  --color-primary: #025034;
  --color-secondary: #F6F3EC;
  --color-white: #FFFFFF;
  --color-mustard: #FFDE59;
  --color-black: #000000;
}